@import "../variables.scss";

.pageWrapper {
  width: 100%;
  min-height: 100vh;
  padding: 48px 24px;

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;

  background-color: $color-black;
  color: $color-light-gray;

  font-family: $font-general;

  @media (min-width: $breakpoint-large) {
    padding: 90px 160px;

    gap: 60px;
  }
}
