@import "../../variables.scss";

.playerContainer {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 200px;

  h2 {
    font-size: 24px;
    max-width: 300px;
    text-align: center;
  }
}

.playerControls {
  margin-bottom: 20px;
}

.captionDisplay {
  width: 100%;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 0 3px 6px rgba($color-purple, 0.5);
  padding: 20px;
  margin: 20px 0;
  background-color: $color-dark-gray;
  border: 1px solid $color-purple;
  border-radius: 8px;
  text-align: center;
}

.paragraph {
  min-height: 150px;
  font-size: 18px;
  line-height: 150%;
  font-family: Inconsolata;

  span {
    margin: 0 2px;
    height: 150px;
  }
}

.highlight {
  background-color: $color-purple;
}

.speaker {
  font-weight: bold;
}
