@import "../../variables.scss";

.playerContainer {
  width: 100%;
  min-height: 300px;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 20px;

  @media (min-width: $breakpoint-large) {
    min-height: 350px;
  }
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  min-height: 100%;

  h2 {
    font-size: 24px;
    max-width: 300px;
    text-align: center;

    @media (min-width: $breakpoint-large) {
      font-size: 48px;

      max-width: 500px;
    }
  }
}

.playerControls {
  margin-bottom: 12px;
}

.title {
  font-size: 14px;
}

.captionDisplay {
  width: 100%;
  max-width: 500px;

  padding: 20px;
  margin: 6px 0 20px 0;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 0 3px 6px rgba($color-purple, 0.5);
  background-color: $color-dark-gray;
  border: 1px solid $color-purple;
  border-radius: 8px;

  text-align: center;
}

.paragraph {
  min-height: 150px;

  font-size: 18px;
  line-height: 150%;
  font-family: $font-caption;

  @media (min-width: $breakpoint-large) {
    font-size: 24px;
    min-height: 200px;
  }
}

.highlight {
  background-color: $color-purple;
}

.speaker {
  font-weight: bold;
}
