@import "../../variables.scss";

.heading {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 36px;
    font-weight: 700;
    font-family: $font-general;

    margin: 0 auto;

    @media (min-width: $breakpoint-large) {
      font-size: 54px;
    }
  }
}
